// Flex
%f-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

%f-al-center{
  display: flex;
  align-items: center;
}

%f-jc-center{
  display: flex;
  justify-content: center;
}

%f-ai-center{
  display: flex;
  align-items: center;
}

%f-wrap{
  display: flex;
  flex-wrap: wrap;
}

%f-nowrap{
  display: flex;
  flex-wrap: nowrap;
}

%f-col{
  display: flex;
  flex-direction: column;
}
